.table-title {
  display: flex;
  justify-content: center;
  border: 3px solid var(--primary-brown);
  background-color: var(--primary-light-background);
  text-transform: uppercase;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  color: var(--primary-brown);
  text-align: center;
}
