ul {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}

ul::-webkit-scrollbar {
  display: none;
}

li {
  display: flex;
  padding: 10px 20px;
  background-color: var(--secondary-light-background);
  border: 2px solid transparent;
  border-bottom: 1px solid var(--primary-orange);
  transition: border 0.3s ease-in-out;
  justify-content: space-between;
}

li a {
  display: flex;
  background-color: transparent;
  text-transform: uppercase;
  color: var(--primary-brown);
  text-decoration: none;
  font-family: "Dancing Script", cursive;
}

li:hover {
  border-color: var(--primary-orange);
  background-color: var(--light-hover-background);
  border-top: 1.5px solid var(--primary-orange);
  border-bottom: 2px solid var(--primary-orange);
  border-left: 2px solid var(--primary-orange);
  border-right: 2px solid var(--primary-orange);
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}
