* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f2e9;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body * {
  background-color: transparent;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background-color: #fae4ca;
}
