nav {
  background-color: #fbcc9a;
  padding: 10px;
  border: 3px solid #f28e0b;
  border-radius: 20px;
  margin: 10px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 8px;
}

nav a {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #fae4ca;
  color: #623f33;
  border: 2px solid #623f33;
  transition: border-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  text-decoration: none;
  border-radius: 8px;
  font-family: "Dancing Script", cursive;

}

nav a:hover {
  border-color: #f28e0b;
  background-color: #f5d7af;
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}
